html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    margin: 10px;
}

.contact {
    border-top: 1px solid grey;
    padding-top: 10px;
    margin-top: 50px;
}

.borderParagraph {
    border-top: 1px solid grey;
    margin: 50px 0;
}

.formContainer {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

.calculatorBmiParagraph {
    border-top: 1px solid grey;
    margin-top: 50px;
}